V0401/B2MML-V0401-Maintenance.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.wbf.org/xml/B2MML-V0401"
                xmlns                   = "http://www.wbf.org/xml/B2MML-V0401"
                xmlns:Extended          = "http://www.wbf.org/xml/B2MML-V0401-AllExtensions" 
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">
  
<!-- Import User Extension Schema        -->

<xsd:import     namespace="http://www.wbf.org/xml/B2MML-V0401-AllExtensions" 
                schemaLocation="B2MML-V0401-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include schemaLocation = "B2MML-V0401-Common.xsd"/>



<xsd:annotation> 
   <xsd:documentation> 
        Copyright 2008 WBF. All Rights Reserved. http://www.wbf.org

        This WBF Work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided the World Batch 
        Forum is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of WBF."

        In no event shall the WBF, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
          
        Based upon the ANSI/ISA-95.00.02-2001 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions. 
   </xsd:documentation>

   <xsd:documentation> 
  
      Revision History

        Ver     Date            Person          Note
        ---     ----            ------          ----
        V01     7 Apr 2002      D. Emerson      Initial release  
        V02     23 Sept 2003    D. Emerson      Updated filename for V02
                                                Changed ##any to "Any" element of type "AnyType"
                                                Added revision to namespace
        V0201   17 Nov 2003     D. Emerson      Updated namespace after change to common schema
        v03     26 Aug 2005     D. Emerson      Added substitution groups.  One group added just
                                                before each Any element.
        v0301   29 Dec 2005     D. Brandl       Only changed version to v0301
        v04     04 Jun 2007     D. Brandl       Added transaction elements for ISA 95 Part 5 support.
                                                Added "cc:" namespace for UN/CEFACT core types.
                                                Added the UN/CEFACT core components with optional attributes
                                                and made them the base types for the B2MML types. 
                                                Added warning before each use of the AnyType that the extension 
                                                schema should be used instead of the Any element and that in a 
                                                still to be determined future release of B2MML the AnyType and 
                                                Any element will be removed.

        V0401  01 Oct 2008      D. Brandl       Revised version
   </xsd:documentation>
</xsd:annotation>

<!-- Elements -->
  
  <xsd:element name = "MaintenanceInformation"                  type ="MaintenanceInformationType" />
  <xsd:element name = "MaintenanceRequest"                      type ="MaintenanceRequestType" />
  <xsd:element name = "MaintenanceWorkOrder"                    type ="MaintenanceWorkOrderType" />
  <xsd:element name = "MaintenanceResponse"                     type ="MaintenanceResponseType" />

<!-- Transaction Elements -->
  <xsd:element name = "GetMaintenanceInformation"               type = "GetMaintenanceInformationType"/>
  <xsd:element name = "ShowMaintenanceInformation"              type = "ShowMaintenanceInformationType"/>
  <xsd:element name = "ProcessMaintenanceInformation"           type = "ProcessMaintenanceInformationType"/>
  <xsd:element name = "AcknowledgeMaintenanceInformation"       type = "AcknowledgeMaintenanceInformationType"/>
  <xsd:element name = "ChangeMaintenanceInformation"            type = "ChangeMaintenanceInformationType"/>
  <xsd:element name = "RespondMaintenanceInformation"           type = "RespondMaintenanceInformationType"/>
  <xsd:element name = "CancelMaintenanceInformation"            type = "CancelMaintenanceInformationType"/>
  <xsd:element name = "SyncMaintenanceInformation"              type = "SyncMaintenanceInformationType"/>


  <xsd:element name = "GetMaintenanceRequest"                   type = "GetMaintenanceRequestType"/>
  <xsd:element name = "ShowMaintenanceRequest"                  type = "ShowMaintenanceRequestType"/>
  <xsd:element name = "ProcessMaintenanceRequest"               type = "ProcessMaintenanceRequestType"/>
  <xsd:element name = "AcknowledgeMaintenanceRequest"           type = "AcknowledgeMaintenanceRequestType"/>
  <xsd:element name = "ChangeMaintenanceRequest"                type = "ChangeMaintenanceRequestType"/>
  <xsd:element name = "RespondMaintenanceRequest"               type = "RespondMaintenanceRequestType"/>
  <xsd:element name = "CancelMaintenanceRequest"                type = "CancelMaintenanceRequestType"/>
  <xsd:element name = "SyncMaintenanceRequest"                  type = "SyncMaintenanceRequestType"/>

        
  <xsd:element name = "GetMaintenanceWorkOrder"                 type = "GetMaintenanceWorkOrderType"/>
  <xsd:element name = "ShowMaintenanceWorkOrder"                type = "ShowMaintenanceWorkOrderType"/>
  <xsd:element name = "ProcessMaintenanceWorkOrder"             type = "ProcessMaintenanceWorkOrderType"/>
  <xsd:element name = "AcknowledgeMaintenanceWorkOrder"         type = "AcknowledgeMaintenanceWorkOrderType"/>
  <xsd:element name = "ChangeMaintenanceWorkOrder"              type = "ChangeMaintenanceWorkOrderType"/>
  <xsd:element name = "RespondMaintenanceWorkOrder"             type = "RespondMaintenanceWorkOrderType"/>
  <xsd:element name = "CancelMaintenanceWorkOrder"              type = "CancelMaintenanceWorkOrderType"/>
  <xsd:element name = "SyncMaintenanceWorkOrder"                type = "SyncMaintenanceWorkOrderType"/>

 
  <xsd:element name = "GetMaintenanceResponse"                  type = "GetMaintenanceResponseType"/>
  <xsd:element name = "ShowMaintenanceResponse"                 type = "ShowMaintenanceResponseType"/>
  <xsd:element name = "ProcessMaintenanceResponse"              type = "ProcessMaintenanceResponseType"/>
  <xsd:element name = "AcknowledgeMaintenanceResponse"          type = "AcknowledgeMaintenanceResponseType"/>
  <xsd:element name = "ChangeMaintenanceResponse"               type = "ChangeMaintenanceResponseType"/>
  <xsd:element name = "RespondMaintenanceResponse"              type = "RespondMaintenanceResponseType"/>
  <xsd:element name = "CancelMaintenanceResponse"               type = "CancelMaintenanceResponseType"/>
  <xsd:element name = "SyncMaintenanceResponse"                 type = "SyncMaintenanceResponseType"/>

 

<!-- Simple & Complex Types  -->

  <xsd:complexType name = "MaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"        
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Location"                    type = "LocationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "MaintenanceRequest"          type = "MaintenanceRequestType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaintenanceWorkOrder"        type = "MaintenanceWorkOrderType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaintenanceResponse"         type = "MaintenanceResponseType"        
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:MaintenanceInformation" 
                                                        minOccurs = "0" maxOccurs = "1"/>
<!-- Added in V04 - The Any element should not be used in new schemas.  This extension schema should be used to add user defined 
     elements to B2MML documents.  In a future release the Any element will be removed from B2MML.  -->
      <xsd:element name = "Any"                         type="AnyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "MaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Problem"                     type = "ProblemType"    
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequestedCompletionDate"     type = "RequestedCompletionDateType"    
                                                        minOccurs = "0"/>
      <xsd:element name = "RequestedPriority"           type = "RequestedPriorityType"  
                                                        minOccurs = "0"/>
      <xsd:element name = "Requestor"                   type = "RequestorType"  
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Status"                      type = "StatusType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "Reviewer"                    type = "ReviewerType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "SubmissionDate"              type = "SubmissionDateType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType"      
                                                        minOccurs = "0"/>
      <xsd:element name = "MaintenanceWorkOrderID"      type = "MaintenanceWorkOrderIDType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "EquipmentID"                 type = "EquipmentIDType"        
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:MaintenanceRequest" minOccurs = "0" maxOccurs = "1"/>
<!-- Added in V04 - The Any element should not be used in new schemas.  This extension schema should be used to add user defined 
     elements to B2MML documents.  In a future release the Any element will be removed from B2MML.  -->
      <xsd:element name = "Any"                         type="AnyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "MaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "PlannedStartTime"            type = "PlannedStartTimeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "PlannedFinishTime"           type = "PlannedFinishTimeType"  
                                                        minOccurs = "0"/>
      <xsd:element name = "ResponsiblePerson"           type = "ResponsiblePersonType"  
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Resources"                   type = "ResourcesType"  
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Status"                      type = "StatusType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "MaintenanceRequestID"        type = "MaintenanceRequestIDType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaintenanceResponseID"       type = "MaintenanceResponseIDType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentID"                 type = "EquipmentIDType"        
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:MaintenanceWorkOrder"
                                                        minOccurs = "0" maxOccurs = "1"/>
<!-- Added in V04 - The Any element should not be used in new schemas.  This extension schema should be used to add user defined 
     elements to B2MML documents.  In a future release the Any element will be removed from B2MML.  -->
      <xsd:element name = "Any"                         type="AnyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "MaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Cause"                       type = "CauseType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Correction"                  type = "CorrectionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ActualStartTime"             type = "ActualStartTimeType"    
                                                        minOccurs = "0"/>
      <xsd:element name = "ActualFinishTime"            type = "ActualFinishTimeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "Status"                      type = "StatusType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "StatusTime"                  type = "StatusTimeType" 
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType"      
                                                        minOccurs = "0"/>
      <xsd:element name = "Consumable"                  type = "ConsumableType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ResponsiblePerson"           type = "ResponsiblePersonType"  
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaintenanceWorkOrderID"      type = "MaintenanceWorkOrderIDType"     
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:MaintenanceResponse"
                                                        minOccurs = "0" maxOccurs = "1"/>
<!-- Added in V04 - The Any element should not be used in new schemas.  This extension schema should be used to add user defined 
     elements to B2MML documents.  In a future release the Any element will be removed from B2MML.  -->
      <xsd:element name = "Any"                         type="AnyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/> 
     </xsd:sequence>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- MaintenanceInformation Transaction Types -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetMaintenanceInformationType">
    <xsd:sequence>      
        <xsd:element name = "ApplicationArea"   type = "TransApplicationAreaType"/>
        <xsd:element name = "DataArea">
        <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element  name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncMaintenanceInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "MaintenanceInformation"
                                                type = "MaintenanceInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- MaintenanceRequest Transaction Types    -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetMaintenanceRequestType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncMaintenanceRequestType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "MaintenanceRequest"
                                                type = "MaintenanceRequestType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - -  -->
<!-- MaintenanceWorkOrder Transaction Types -->
<!-- - - - - - - - - - - - - - - - -  -->

  <xsd:complexType name = "GetMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "MaintenanceWorkOrder"        
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncMaintenanceWorkOrderType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "MaintenanceWorkOrder"
                                                type = "MaintenanceWorkOrderType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- MaintenanceResponse Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetMaintenanceResponseType">
    <xsd:sequence>      
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea" type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncMaintenanceResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "MaintenanceResponse"
                                                type = "MaintenanceResponseType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>




</xsd:schema>