V0600/AllSchemasModified.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xsd:schema 
	xmlns:xsd 		= "http://www.w3.org/2001/XMLSchema"
	targetNamespace = "http://www.mesa.org/xml/B2MML-V0600"
	xmlns 			= "http://www.mesa.org/xml/B2MML-V0600"
	xmlns:Extended 	= "http://www.mesa.org/xml/B2MML-V0600-AllExtensions"
 
	elementFormDefault 		= "qualified"
	attributeFormDefault 	= "unqualified">
<xsd:annotation> 
   <xsd:documentation>
		This file may be used to assist in code generation using XSD.EXE
		This file simply includes all of the B2MML schemas into a single 
		definition. This reduces the length of the generated .cs file name. 
   
        Copyright 2012 MESA International 
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided the World Batch 
        Forum is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
      
        Based upon the ANSI/ISA-95.00.02-2010 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions
   </xsd:documentation>

   <xsd:documentation> 
  
      Revision History

        Ver     Date            Person          Note
        ---     ----            ------          ----
        V0500   26 Mar 2011     D. Brandl       Initial version
        V0600   17 Mar 2013     D. Brandl       Changed copyright to MESA International and support for ISA 95 Part 4                                 

   </xsd:documentation>
</xsd:annotation>

 
 <xsd:include schemaLocation ="B2MML-V0600-CoreComponents.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-Common.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ConfirmBOD.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-Equipment.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-PhysicalAsset.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-Material.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-Personnel.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ProcessSegment.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-OperationsDefinition.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-OperationsCapability.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-OperationsPerformance.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-OperationsSchedule.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ProductDefinition.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ProductionCapability.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ProductionPerformance.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ProductionSchedule.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-ResourceRelationshipNetwork.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-TransactionProfile.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-WorkAlert.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-WorkDefinition.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-WorkCapability.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-WorkPerformance.xsd"/>
 <xsd:include schemaLocation ="B2MML-V0600-WorkSchedule.xsd"/>
 <xsd:include schemaLocation ="BatchML-V0600-BatchInformation.xsd"/>
 <!-- <xsd:include schemaLocation ="BatchML-V0600-GeneralRecipe.xsd"/> -->
 <xsd:include schemaLocation ="BatchML-V0600-BatchProductionRecord.xsd"/>
 

<!-- B2MML extension groups for Common schema-->

        <xsd:group name = "Extended:EquipmentAssetMapping">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "HierarchyScope">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- Location kept in V05 for use with the Production element definitions. Not used in other elements.  -->
        <xsd:group name = "Location">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
<!-- Location kept in V05 for use with the Production element definitions. Not used in other elements.  -->

        <xsd:group name = "Parameter">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Quantity">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Result">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentDependency">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestResult">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Value">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


        <xsd:group name = "OpPersonnelSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpProcessSegmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


        <xsd:group name = "EquipmentInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Equipment">
                <xsd:sequence>
                         <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentCapabilityTestSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedEquipmentProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedEquipmentClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for PhysicalAsset schema-->

        <xsd:group name = "PhysicalAssetInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAsset">
                <xsd:sequence>
                         <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetCapabilityTestSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedPhysicalAssetProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedPhysicalAssetClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


<!-- B2MML extension groups for Material schema-->

        <xsd:group name = "MaterialInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialDefinitionProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialLot">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialLotProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSubLot">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialTestSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedMaterialClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedMaterialDefinitionProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedMaterialLotProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>




<!-- B2MML extension groups for Personnel schema-->

        <xsd:group name = "PersonnelInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Person">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "QualificationTestSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedPersonProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestedPersonnelClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for ProcessSegment schema-->

        <xsd:group name = "ProcessSegmentInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProcessSegment">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for OperationsDefinition and ProductDefinition schema-->

        <xsd:group name = "OperationsDefinitionInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsMaterialBill">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsBillOfMaterialItem">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ManufacturingBill">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductSegment">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsSegment">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>




<!-- B2MML extension groups for OperationsCapability and ProductionCapability schema-->

        <xsd:group name = "OperationsCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsCapabilityInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


        <xsd:group name = "PersonnelCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProcessSegmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>




<!-- B2MML extension groups for OperationsPerformance and ProductionPerformance schema  -->

        <xsd:group name = "OperationsPerformance">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionPerformance">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentData">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentData">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- Included for ProductionPerformance schema -->
        <xsd:group name = "ProductionData">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialProducedActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialProducedActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialConsumedActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialConsumedActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ConsumableActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ConsumableActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>




<!-- B2MML extension groups for OperationsSchedule schema-->

        <xsd:group name = "OperationsSchedule">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionSchedule">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsRequest">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionRequest">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductionParameter">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialProducedRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialProducedRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialConsumedRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialConsumedRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ConsumableExpectedRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ConsumableExpectedRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for ResourceRelationshipNetwork schema-->

        <xsd:group name = "ResourceRelationshipNetworkType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceNetworkConnectionInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceNetworkConnectionType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceRelationshipNetwork">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceNetworkConnection">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceReference">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        
<!-- B2MML extension groups for TransactionProfile schema  -->

        <xsd:group name = "TransactionProfile">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SupportedAction">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkAlert schemas  -->

        <xsd:group name = "WorkAlertInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlertDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlert">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlertProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


        <!-- B2MML extension groups for WorkCapability schemas  -->

        <xsd:group name = "WorkCapabilityInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkMasterCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkDefinition schema  -->

        <xsd:group name = "WorkDefinitionInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkMaster">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkDirective">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkflowSpecification schema  -->

        <xsd:group name = "WorkflowSpecificationInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationNode">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationConnection">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationNodeType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
        
        <xsd:group name = "WorkflowSpecificationConnectionType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
        
        <xsd:group name = "WorkflowSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkPerformance schemas  -->

        <xsd:group name = "WorkPerformance">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkSchedule and JobList schemas  -->

        <xsd:group name = "WorkSchedule">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkRequest">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobList">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobOrder">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



  <xsd:group name = "DirectedLink">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ResourceConstraint">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ResourceConstraintLibrary">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ResourceConstraintProperty">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipeFormula">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipeHeader">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "HeaderProperty">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipeMaterial">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipeMaterials">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GROtherInformation">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ProcessElementParameter">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ProcessElement">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ProcessElementLibrary">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "ProcedureChartElement">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipe">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>


  <xsd:group name = "GRecipeInformation">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>

 
<!-- BatchML-BatchInformation extension groups -->

        <xsd:group name="ApprovalHistory">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchEquipmentID">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchEquipmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchListEntry">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>        

        <xsd:group name="BatchList">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchParameter">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchSize">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="BatchValue">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ClassInstanceAssociation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Constraint">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ControlRecipe">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="EnumerationSet">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Enumeration">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="EquipmentConnection">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="EquipmentElement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="EquipmentProceduralElementClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="EquipmentProceduralElement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Formula">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="FromEquipmentID">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="FromID">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Header">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="IndividualApproval">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Link">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ListHeader">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="MasterRecipe">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ModificationLog">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="OtherInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ProcedureLogic">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Property">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="RecipeBuildingBlock">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="RecipeElement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Step">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="ToID">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name="Transition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


  <xsd:group name = "BatchProductionRecord">
      <xsd:sequence>
          <!-- add extended elements here -->
      </xsd:sequence>
  </xsd:group>

         


</xsd:schema>
