V0600/B2MML-V0600-WorkflowSpecification.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML-V0600"
                xmlns                   = "http://www.mesa.org/xml/B2MML-V0600"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-V0600-AllExtensions" 
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">
  
<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-V0600-AllExtensions" 
                schemaLocation="B2MML-V0600-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include schemaLocation = "B2MML-V0600-Common.xsd"/>


<xsd:annotation> 
   <xsd:documentation>

        Copyright 2012 MESA International 
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided the World Batch 
        Forum is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
          
        Based upon the ANSI/ISA-95.00.02-2010 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions. 
   </xsd:documentation>

   <xsd:documentation> 

      Revision History

        Ver     Date            Person          Note
        ---     ----            ------          ----

        V0600   17 Mar 2013     D. Brandl       Initial version with support for ISA 95 Part 4                                 

   </xsd:documentation>
</xsd:annotation>

<!-- Global Elements -->
  
  <xsd:element name = "WorkflowSpecificationInformation"   type = "WorkflowSpecificationInformationType" />
  <xsd:element name = "WorkflowSpecification"              type = "WorkflowSpecificationType" />
  <xsd:element name = "WorkflowSpecificationType"          type = "WorkflowSpecificationTypeType" />

<!-- Transaction Elements -->
  <xsd:element name = "GetWorkflowSpecificationInformation"         type = "GetWorkflowSpecificationInformationType"/>
  <xsd:element name = "ShowWorkflowSpecificationInformation"        type = "ShowWorkflowSpecificationInformationType"/>
  <xsd:element name = "ProcessWorkflowSpecificationInformation"     type = "ProcessWorkflowSpecificationInformationType"/>
  <xsd:element name = "AcknowledgeWorkflowSpecificationInformation" type = "AcknowledgeWorkflowSpecificationInformationType"/>
  <xsd:element name = "ChangeWorkflowSpecificationInformation"      type = "ChangeWorkflowSpecificationInformationType"/>
  <xsd:element name = "RespondWorkflowSpecificationInformation"     type = "RespondWorkflowSpecificationInformationType"/>
  <xsd:element name = "CancelWorkflowSpecificationInformation"      type = "CancelWorkflowSpecificationInformationType"/>
  <xsd:element name = "SyncWorkflowSpecificationInformation"        type = "SyncWorkflowSpecificationInformationType"/>

  <xsd:element name = "GetWorkflowSpecification"             type = "GetWorkflowSpecificationType"/>
  <xsd:element name = "ShowWorkflowSpecification"            type = "ShowWorkflowSpecificationType"/>
  <xsd:element name = "ProcessWorkflowSpecification"         type = "ProcessWorkflowSpecificationType"/>
  <xsd:element name = "AcknowledgeWorkflowSpecification"     type = "AcknowledgeWorkflowSpecificationType"/>
  <xsd:element name = "ChangeWorkflowSpecification"          type = "ChangeWorkflowSpecificationType"/>
  <xsd:element name = "RespondWorkflowSpecification"         type = "RespondWorkflowSpecificationType"/>
  <xsd:element name = "CancelWorkflowSpecification"          type = "CancelWorkflowSpecificationType"/>
  <xsd:element name = "SyncWorkflowSpecification"            type = "SyncWorkflowSpecificationType"/>

  <xsd:element name = "GetWorkflowSpecificationType"         type = "GetWorkflowSpecificationTypeType"/>
  <xsd:element name = "ShowWorkflowSpecificationType"        type = "ShowWorkflowSpecificationTypeType"/>
  <xsd:element name = "ProcessWorkflowSpecificationType"     type = "ProcessWorkflowSpecificationTypeType"/>
  <xsd:element name = "AcknowledgeWorkflowSpecificationType" type = "AcknowledgeWorkflowSpecificationTypeType"/>
  <xsd:element name = "ChangeWorkflowSpecificationType"      type = "ChangeWorkflowSpecificationTypeType"/>
  <xsd:element name = "RespondWorkflowSpecificationType"     type = "RespondWorkflowSpecificationTypeType"/>
  <xsd:element name = "CancelWorkflowSpecificationType"      type = "CancelWorkflowSpecificationTypeType"/>
  <xsd:element name = "SyncWorkflowSpecificationType"        type = "SyncWorkflowSpecificationTypeType"/>


<!-- Simple & Complex Types  -->

  <xsd:complexType name = "WorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"                  
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"         
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
														minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType" 
														minOccurs = "0"/>
      <xsd:element name = "WorkflowSpecification"       type = "WorkflowSpecificationType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "WorkflowSpecificationType"   type = "WorkflowSpecificationTypeType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationInformation" minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "WorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Version"                     type = "VersionType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Node"                        type = "WorkflowSpecificationNodeType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Connection"                  type = "WorkflowSpecificationConnectionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecification"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "WorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Version"                     type = "VersionType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "NodeType"                    type = "WorkflowSpecificationNodeTypeType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ConnectionType"              type = "WorkflowSpecificationConnectionTypeType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationType"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


<!-- ========================================= -->
<!-- Common group for all elements  ========== -->
<!-- ========================================= -->

  <xsd:complexType name = "WorkflowSpecificationNodeType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "NodeType"                    type = "IdentifierType" />
      <xsd:element name = "WorkflowSpecification"       type = "WorkflowSpecificationType"       
                                                        minOccurs = "0" maxOccurs = "1"/>
      <xsd:element name = "Property"                    type = "WorkflowSpecificationPropertyType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationNode"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "WorkflowSpecificationConnectionType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ConnectionType"              type = "IdentifierType" />
      <xsd:element name = "FromNodeID"                  type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ToNodeID"                    type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Property"                    type = "WorkflowSpecificationPropertyType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationConnection"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "WorkflowSpecificationNodeTypeType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Property"                    type = "WorkflowSpecificationPropertyType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationNodeType"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "WorkflowSpecificationConnectionTypeType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Property"                    type = "WorkflowSpecificationPropertyType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationConnectionType"      minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  
  <xsd:complexType name = "WorkflowSpecificationPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PropertyType"                type = "IdentifierType"       
                                                        minOccurs = "0" maxOccurs = "1"/>
      <xsd:element name = "Value"                       type = "ValueType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Property"                    type = "WorkflowSpecificationPropertyType"       
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkflowSpecificationProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkflowSpecificationInformation Transaction Types -->
<!-- - - - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkflowSpecificationInformationType">
   <xsd:sequence>       
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkflowSpecificationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "WorkflowSpecificationInformation"
                                                type = "WorkflowSpecificationInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkflowSpecification Transaction Types  -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkflowSpecificationType">
    <xsd:sequence>      
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkflowSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "WorkflowSpecification"
                                                type = "WorkflowSpecificationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkflowSpecificationTypeType Transaction Types  -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkflowSpecificationTypeType">
    <xsd:sequence>      
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkflowSpecificationTypeType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "WorkflowSpecificationType"
                                                type = "WorkflowSpecificationTypeType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


</xsd:schema>