Schema/B2MML-OperationalLocation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd            = "http://www.w3.org/2001/XMLSchema"
                targetNamespace      = "http://www.mesa.org/xml/B2MML"
                xmlns                = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended       = "http://www.mesa.org/xml/B2MML-AllExtensions"
                elementFormDefault   = "qualified"
                attributeFormDefault = "unqualified">

<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions"
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include schemaLocation = "B2MML-Common.xsd"/>


<xsd:annotation>
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
    All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents,
        software, and related items) referred to as the Business To
        Manufacturing Markup Language (B2MML) is provided by the copyright
        holders under the following license.

        Permission to use, copy, modify, or redistribute this Work and its
        documentation, with or without modification, for any purpose and
        without fee or royalty is hereby granted provided MESA International
        is acknowledged as the originator of this Work using the
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used
        courtesy of MESA International."

        In no event shall MESA International, its members, or any
        third party be liable for any costs, expenses, losses, damages or
        injuries incurred by use of the Work or as a result of this
        agreement.

        Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration
        Part 5: Business to Manufacturing Transactions.
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- Elements -->

  <xsd:element name = "OperationalLocationInformation" type ="OperationalLocationInformationType" >
    <xsd:annotation>
      <xsd:documentation>
Operational locations define the logical or physical places in which resources are located or are expected to be located within a plant.
Operational locations may be made up of smaller operational locations. An operational location may belong to one or more operational location classes.
An operational location class may be a specialization of one or more operational location classes.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name = "OperationalLocationClass"       type ="OperationalLocationClassType" >
    <xsd:annotation>
      <xsd:documentation>
A representation of a grouping of operational locations with similar characteristics for a definite purpose
such as manufacturing operations definition, scheduling, capability and performance shall be presented as an
operational location class. Any operational location may be a member of zero or more operational location classes.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name = "OperationalLocation"            type ="OperationalLocationType" >
    <xsd:annotation>
      <xsd:documentation>
A logical or physical location where a material lot, material sublot, equipment, physical asset or person
is located or expected to be located shall be presented as an operational location. Operational locations
may be made up of other operational locations.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>



<!-- Transaction Elements -->
  <xsd:element name = "GetOperationalLocation"         type = "GetOperationalLocationType"/>
  <xsd:element name = "ShowOperationalLocation"        type = "ShowOperationalLocationType"/>
  <xsd:element name = "ProcessOperationalLocation"     type = "ProcessOperationalLocationType"/>
  <xsd:element name = "AcknowledgeOperationalLocation" type = "AcknowledgeOperationalLocationType"/>
  <xsd:element name = "ChangeOperationalLocation"      type = "ChangeOperationalLocationType"/>
  <xsd:element name = "RespondOperationalLocation"     type = "RespondOperationalLocationType"/>
  <xsd:element name = "CancelOperationalLocation"      type = "CancelOperationalLocationType"/>
  <xsd:element name = "SyncOperationalLocation"        type = "SyncOperationalLocationType"/>

  <xsd:element name = "GetOperationalLocationClass"         type = "GetOperationalLocationClassType"/>
  <xsd:element name = "ShowOperationalLocationClass"        type = "ShowOperationalLocationClassType"/>
  <xsd:element name = "ProcessOperationalLocationClass"     type = "ProcessOperationalLocationClassType"/>
  <xsd:element name = "AcknowledgeOperationalLocationClass" type = "AcknowledgeOperationalLocationClassType"/>
  <xsd:element name = "ChangeOperationalLocationClass"      type = "ChangeOperationalLocationClassType"/>
  <xsd:element name = "RespondOperationalLocationClass"     type = "RespondOperationalLocationClassType"/>
  <xsd:element name = "CancelOperationalLocationClass"      type = "CancelOperationalLocationClassType"/>
  <xsd:element name = "SyncOperationalLocationClass"        type = "SyncOperationalLocationType"/>

  <xsd:element name = "GetOperationalLocationInformation"         type = "GetOperationalLocationInformationType"/>
  <xsd:element name = "ShowOperationalLocationInformation"        type = "ShowOperationalLocationInformationType"/>
  <xsd:element name = "ProcessOperationalLocationInformation"     type = "ProcessOperationalLocationInformationType"/>
  <xsd:element name = "AcknowledgeOperationalLocationInformation" type = "AcknowledgeOperationalLocationInformationType"/>
  <xsd:element name = "ChangeOperationalLocationInformation"      type = "ChangeOperationalLocationInformationType"/>
  <xsd:element name = "RespondOperationalLocationInformation"     type = "RespondOperationalLocationInformationType"/>
  <xsd:element name = "CancelOperationalLocationInformation"      type = "CancelOperationalLocationInformationType"/>
  <xsd:element name = "SyncOperationalLocationInformation"        type = "SyncOperationalLocationInformationType"/>


<!-- Simple & Complex Types  -->
  <xsd:complexType name = "OperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"  nillable="true"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"  nillable="true"/>
      <xsd:element name = "OperationalLocationClass"    type = "OperationalLocationClassType"
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:element name = "OperationalLocation"         type = "OperationalLocationType"
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:group   ref  = "Extended:OperationalLocationInformation" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "OperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"          type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"     	      type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "SpatialDefinition"           type = "SpatialDefinitionType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationalClassID"          type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationalLocationChild"    type = "OperationalLocationType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationalLocationProperty" type = "OperationalLocationPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:OperationalLocation"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"          type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"     	      type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationalLocationClassChild"
                                                        type = "OperationalLocationClassType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationalLocationClassBaseID"
                                                        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationalLocationSourceID" type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationalLocationClassProperty"
                                                        type = "OperationalLocationClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:OperationalLocation"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


    <xsd:complexType name="OperationalLocationClassPropertyType">
        <xsd:sequence>
            <xsd:element name="ID"                     type="IdentifierType"/>
            <xsd:element name="Description"            type="DescriptionType"
                                                       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Value"                  type="ValueType"
                                                       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PropertyType"           type="ClassPropertyTypeType"
                                                       minOccurs="0"/>
            <xsd:element name = "OperationalLocationClassPropertyChild"
                                                       type = "OperationalLocationClassPropertyType"
                                                       minOccurs = "0" maxOccurs = "unbounded"/>
            <xsd:group ref="Extended:OperationalLocationClassProperty" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="OperationalLocationPropertyType">
        <xsd:sequence>
            <xsd:element name="ID"                    type="IdentifierType"/>
            <xsd:element name="Description"           type="DescriptionType"
                                                      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Value"                 type="ValueType"
                                                      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name = "OperationalLocationPropertyChild"
                                                      type = "OperationalLocationPropertyType"
                                                      minOccurs = "0" maxOccurs = "unbounded"/>
            <xsd:element name = "OperationalClassPropertyID"
                                                      type = "IdentifierType"
                                                      minOccurs = "0" maxOccurs = "1"/>
            <xsd:group ref="Extended:OperationalLocationProperty" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationalLocationInformation Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationalLocationInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationalLocationInformation"
                                                type = "OperationalLocationInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationalLocationClass Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationalLocationClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationalLocationClass"
                                                type = "OperationalLocationClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationalLocation Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationalLocationType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationalLocationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationalLocation"
                                                type = "OperationalLocationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



</xsd:schema>
