Schema/B2MML-WorkRecord.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions"

                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">

<!-- Import the B2MML Extension Schema and pickup the BatchML Information Extensions -->

  <xsd:import   namespace="http://www.mesa.org/xml/B2MML-AllExtensions"
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the BatchML and B2MML schemas   -->

<xsd:include schemaLocation = "BatchML-BatchProductionRecord.xsd"/>
<xsd:include schemaLocation = "B2MML-OperationsDefinition.xsd"/>
<xsd:include schemaLocation = "B2MML-OperationsPerformance.xsd"/>
<xsd:include schemaLocation = "B2MML-OperationsSchedule.xsd"/>
<xsd:include schemaLocation = "B2MML-WorkAlert.xsd"/>
<xsd:include schemaLocation = "B2MML-WorkCalendar.xsd"/>
<xsd:include schemaLocation = "B2MML-WorkDefinition.xsd"/>
<xsd:include schemaLocation = "B2MML-WorkPerformance.xsd"/>
<xsd:include schemaLocation = "B2MML-WorkSchedule.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include  schemaLocation = "B2MML-Common.xsd"/>

<xsd:annotation>
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents,
        software, and related items) referred to as the Business To
        Manufacturing Markup Language (B2MML) is provided by the copyright
        holders under the following license.

        Permission to use, copy, modify, or redistribute this Work and its
        documentation, with or without modification, for any purpose and
        without fee or royalty is hereby granted provided MESA International
        is acknowledged as the originator of this Work using the
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used
        courtesy of MESA International."

        In no event shall MESA International, its members, or any
        third party be liable for any costs, expenses, losses, damages or
        injuries incurred by use of the Work or as a result of this
        agreement.

		Based upon the ANSI/ISA-95.00.04-2018 Enterprise-Control System
        Integration Part 4: Objects and Attributes for Manufacturing
		Operations Management Integration and the ANSI/ISA-95.00.05-2018
		Enterprise-Control System Integration Part 5: Business to
		Manufacturing Transactions.
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- ========================================= -->
<!-- Global Elements ========================= -->
<!-- ========================================= -->

  <xsd:element name = "WorkRecord"                 type = "WorkRecordType"/>
  <xsd:element name = "WorkRecordSpecification"    type = "WorkRecordSpecificationType"/>

  <xsd:element name = "GetWorkRecord"              type = "GetWorkRecordType"/>
  <xsd:element name = "ShowWorkRecord"             type = "ShowWorkRecordType"/>
  <xsd:element name = "ProcessWorkRecord"          type = "ProcessWorkRecordType"/>
  <xsd:element name = "AcknowledgeWorkRecord"      type = "AcknowledgeWorkRecordType"/>
  <xsd:element name = "ChangeWorkRecord"           type = "ChangeWorkRecordType"/>
  <xsd:element name = "RespondWorkRecord"          type = "RespondWorkRecordType"/>
  <xsd:element name = "CancelWorkRecord"           type = "CancelWorkRecordType"/>
  <xsd:element name = "SyncWorkRecord"             type = "SyncWorkRecordType"/>

  <xsd:element name = "GetWorkRecordSpecification"              type = "GetWorkRecordSpecificationType"/>
  <xsd:element name = "ShowWorkRecordSpecification"             type = "ShowWorkRecordSpecificationType"/>
  <xsd:element name = "ProcessWorkRecordSpecification"          type = "ProcessWorkRecordSpecificationType"/>
  <xsd:element name = "AcknowledgeWorkRecordSpecification"      type = "AcknowledgeWorkRecordSpecificationType"/>
  <xsd:element name = "ChangeWorkRecordSpecification"           type = "ChangeWorkRecordSpecificationType"/>
  <xsd:element name = "RespondWorkRecordSpecification"          type = "RespondWorkRecordSpecificationType"/>
  <xsd:element name = "CancelWorkRecordSpecification"           type = "CancelWorkRecordSpecificationType"/>
  <xsd:element name = "SyncWorkRecordSpecification"             type = "SyncWorkRecordSpecificationType"/>

<!-- Simple & Complex Types  -->

   <xsd:complexType  name = "WorkRecordEntryType">
      <!-- Based OperationsRecordEntryTemplateType elements in Common.xsd and additional attributes from updated Work Record Model -->  
      <xsd:sequence>
         <xsd:element name = "ID"                     type = "IdentifierType"/>
         <xsd:element name = "Description" 			      type = "DescriptionType"          minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "Version"                type = "IdentifierType"           minOccurs="0"/>
         <xsd:element name = "RecordTimestamp" 		    type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveTimestamp"     type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveEndDate"       type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "HierarchyScope"         type = "HierarchyScopeType"       minOccurs="0"/>
         <xsd:choice>
            <xsd:element name = "InformationObject"   type = "InformationObjectType"/>
            <xsd:element name = "ExternalReferenceID" type = "IdentifierType"/>
         </xsd:choice>

         <xsd:element name = "InformationObjectType"  type = "InformationObjectTypeType"    minOccurs="0"/>
         <xsd:element name = "WorkRecordEntryChild"   type = "WorkRecordEntryType"
                                                      minOccurs = "0" maxOccurs="unbounded"/>
         <xsd:group   ref  = "Extended:WorkRecordEntry" minOccurs="0" maxOccurs="1"/>                                                
      </xsd:sequence>
   </xsd:complexType>


  <xsd:complexType name = "WorkRecordType">
      <xsd:sequence> 
      <!-- Based on OperationsRecordTemplate elements in Common.xsd and additional attributes from updated Work Record Model -->     
         <xsd:element name = "ID"                     type = "IdentifierType"/>
         <xsd:element name = "Description"            type = "DescriptionType"          minOccurs="0" maxOccurs="unbounded"/>        
         <xsd:element name = "Version"                type = "IdentifierType"           minOccurs="0"/>
         <xsd:element name = "RecordTimestamp"        type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveTimestamp"     type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveEndDate"       type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "HierarchyScope"         type = "HierarchyScopeType"       minOccurs="0"/>
         <xsd:element name = "Action" 			      type = "OperationsRecordActionType" minOccurs="0"/>
         <xsd:element name = "WorkRecordEntry"        type = "WorkRecordEntryType"   
                                                      minOccurs="1" maxOccurs="unbounded"/>
         <xsd:element name = "WorkRecordSpecificationID"	
                                                      type = "IdentifierType"/>
         <xsd:element name = "WorkRecordChild"	      type = "WorkRecordType"    
                                                      minOccurs="0" maxOccurs="unbounded"/>
     <!-- Elements for attributes from 950004 Work Record Model incorporated from 880004 Batch Production Record -->
         <xsd:element name = "LastChangedDate"        type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "ChangeIndication"       type = "xsd:string"               minOccurs="0"/>
         <xsd:element name = "Delimiter"              type = "TextType"                 minOccurs="0"/>
         <xsd:element name = "Language"               type = "CodeType"                 minOccurs="0"/>
         <xsd:element name = "RecordStatus"           type = "CodeType"                 minOccurs="0"/>
         <xsd:element name = "CampaignID"             type = "IdentifierType"           minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "MaterialLotID"          type = "IdentifierType"           minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "BatchID"                type = "IdentifierType"           minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "MaterialDefinitionID"   type = "IdentifierType"           minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "EquipmentID"            type = "IdentifierType"           minOccurs="0" maxOccurs="unbounded"/>
         <xsd:group   ref  = "Extended:WorkRecord"    minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "WorkRecordSpecificationType">
      <xsd:sequence> 
         <xsd:element name = "ID"                     type = "IdentifierType"/>
         <xsd:element name = "Description"            type = "DescriptionType"          minOccurs="0" maxOccurs="unbounded"/>        
         <xsd:element name = "Version"                type = "IdentifierType"           minOccurs="0"/>
         <xsd:element name = "PublishedDate"          type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveStartDate"     type = "DateTimeType"             minOccurs="0"/>
         <xsd:element name = "EffectiveEndDate"       type = "DateTimeType"             minOccurs = "0"/>
         <xsd:element name = "HierarchyScope"         type = "HierarchyScopeType"       minOccurs="0"/>
         <xsd:element name = "WorkRecordSpecificationPatternID"
                                                      type = "IdentifierType"           minOccurs = "0"/>
         <xsd:element name = "DefinitionType"         type = "DefinitionTypeType"       minOccurs="0"/>
         <xsd:element name = "InformationObjectType"  type = "InformationObjectTypeType"   
                                                      minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "InformationObjectTypeMultiplicity"
                                                      type = "TextType"                 minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "Action"                 type = "OperationsRecordActionType"               minOccurs="0"/>
         <xsd:element name = "ActionMultiplicity"     type = "TextType"                 minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "WorkRecordEntryTemplate"
                                                      type = "WorkRecordEntryType"
                                                      minOccurs = "0" maxOccurs="unbounded"/>       
         <xsd:element name = "WorkRecordSpecificationChild"
                                                      type = "WorkRecordSpecificationType" 
                                                      minOccurs="0" maxOccurs="unbounded"/>
  <!-- Simple types for elements for attributes from 950004 Work Record Model which was incorporated 
   from 880004 Batch Production Record into Work Record Model. -->
         <xsd:element name = "ChangeIndication"       type = "xsd:string"                  minOccurs="0"/>
         <xsd:element name = "Delimiter"              type = "TextType"                    minOccurs="0"/>
         <xsd:element name = "Language"               type = "CodeType"                    minOccurs="0"/>
         <xsd:element name = "RecordStatus"           type = "CodeType"                    minOccurs="0"/>
         <xsd:element name = "CampaignID"             type = "IdentifierType"              minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "MaterialLotID"          type = "IdentifierType"              minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "BatchID"                type = "IdentifierType"              minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "MaterialDefinitionID"   type = "IdentifierType"              minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name = "EquipmentID"            type = "IdentifierType"              minOccurs="0" maxOccurs="unbounded"/>
         <xsd:group   ref  = "Extended:WorkRecordSpecification" minOccurs="0" maxOccurs="1"/>
   </xsd:sequence>
</xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkRecord Transaction Types        -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkRecordType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
         <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkRecordType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "WorkRecord"
                                                type = "WorkRecordType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkRecord Transaction Types        -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

<xsd:complexType name = "GetWorkRecordSpecificationType">
   <xsd:sequence>
        <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
        <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Get"         type = "TransGetType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "ShowWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Show"        type = "TransShowType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "ProcessWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Process"     type = "TransProcessType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "AcknowledgeWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "ChangeWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Change"      type = "TransChangeType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "RespondWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Respond"     type = "TransRespondType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "CancelWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Cancel"      type = "TransCancelType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


 <xsd:complexType name = "SyncWorkRecordSpecificationType">
   <xsd:sequence>
     <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Sync"        type = "TransSyncType"/>
             <xsd:element name = "WorkRecordSpecification"
                                               type = "WorkRecordSpecificationType"
                                               minOccurs = "1"
                                               maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
   </xsd:sequence>
   <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>



</xsd:schema>