Schema/B2MML-OperationsPerformanceTypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions"
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">

<!-- Import the Extension Schema into the 'Extended' namespace    -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions"
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include  schemaLocation = "B2MML-Common.xsd"/>
  <xsd:include  schemaLocation = "B2MML-OperationsTest.xsd"/>
  

<xsd:annotation>
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents,
        software, and related items) referred to as the Business To
        Manufacturing Markup Language (B2MML) is provided by the copyright
        holders under the following license.

        Permission to use, copy, modify, or redistribute this Work and its
        documentation, with or without modification, for any purpose and
        without fee or royalty is hereby granted provided MESA International
        is acknowledged as the originator of this Work using the
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used
        courtesy of MESA International."

        In no event shall MESA International, its members, or any
        third party be liable for any costs, expenses, losses, damages or
        injuries incurred by use of the Work or as a result of this
        agreement.

        Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration
        Part 5: Business to Manufacturing Transactions.
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

  <xsd:complexType name = "OpSegmentResponseType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PostingDate"                 type = "DateTimeType"
                                                        minOccurs = "0"/>                                                       
      <xsd:element name = "ActualStartTime"             type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "ActualEndTime"               type = "DateTimeType"
                                                        minOccurs = "0"/>                                                     
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsType"              type = "OperationsTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "ProcessSegmentID"            type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsRequestID"         type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "SegmentRequirementID"        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsDefinitionID"      type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsSegmentID"         type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "WorkResponseID"         	    type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "JobResponseID"         	    type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "SegmentState"                type = "ResponseStateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "SegmentData"                 type = "OpSegmentDataType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelActual"             type = "OpPersonnelActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentActual"             type = "OpEquipmentActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetActual"         type = "OpPhysicalAssetActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialActual"              type = "OpMaterialActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "SegmentResponseChild"        type = "OpSegmentResponseType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpSegmentResponse"  minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpSegmentDataType">
     <xsd:sequence>
       <xsd:element name = "ID" 			            type="IdentifierType"/>
       <xsd:element name = "Description" 		        type="DescriptionType"
							                            minOccurs="0" maxOccurs="unbounded"/>
       <xsd:element name = "HierarchyScope"             type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
       <xsd:element name = "Value" 			            type="ValueType"
							                            minOccurs="0" maxOccurs="unbounded"/>
       <xsd:element name = "SegmentDataChild" 		    type="OpSegmentDataType"
							                            minOccurs="0" maxOccurs="unbounded"/>
       <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
       <xsd:group   ref  = "Extended:OpSegmentData" 	minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpPersonnelActualType">
    <xsd:sequence>
      <xsd:element name = "ID" 				                  type="IdentifierType"/>
      <xsd:element name = "PersonnelClassID"            type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonID"                    type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelUse"                type = "PersonnelUseType"
                                                        minOccurs = "0" />
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0" />
      <xsd:element name = "SpatialDefinition"     	    type = "SpatialDefinitionType"
                                                        minOccurs = "0" />
      <xsd:element name = "OperationalLocation" 	      type = "ResourceLocationType"
                                                        minOccurs = "0" />
      <xsd:element name = "TestResult"          	      type = "TestResultType"
	                                                      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelActualProperty"     type = "OpPersonnelActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelActualChild"        type = "OpPersonnelActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpPersonnelActual"  minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpPersonnelActualPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelActualPropertyChild"
		   					                                        type = "OpPersonnelActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelClassPropertyID" 	  type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PersonPropertyID"     	      type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpPersonnelActualProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpEquipmentActualType">
    <xsd:sequence>
      <xsd:element name = "ID" 				                  type="IdentifierType"/>
      <xsd:element name = "EquipmentClassID"            type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentID"                 type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentUse"                type = "EquipmentUseType"
                                                        minOccurs = "0" />
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0" />
      <xsd:element name = "SpatialDefinition"   	      type = "SpatialDefinitionType"
                                                        minOccurs = "0" />
      <xsd:element name = "OperationalLocation" 	      type = "ResourceLocationType"
                                                        minOccurs = "0" />
      <xsd:element name = "TestResult"          	      type = "TestResultType"
	                                                      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentActualProperty"     type = "OpEquipmentActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentActualChild"        type = "OpEquipmentActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpEquipmentActual"  minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpEquipmentActualPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentActualPropertyChild"
		   					                                        type = "OpEquipmentActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentClassPropertyID" 	  type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EquipmentPropertyID"     	  type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpEquipmentActualProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpPhysicalAssetActualType">
    <xsd:sequence>
      <xsd:element name = "ID" 				                  type="IdentifierType"/>
      <xsd:element name = "PhysicalAssetClassID"        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetID"             type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetUse"            type = "PhysicalAssetUseType"
                                                        minOccurs = "0" />
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0" />
      <xsd:element name = "SpatialDefinition"     	    type = "SpatialDefinitionType"
                                                        minOccurs = "0" />
      <xsd:element name = "PhysicalLocation" 		        type = "ResourceLocationType"
                                                   	    minOccurs = "0" />
      <xsd:element name = "TestResult"          	      type = "TestResultType"
	                                                      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetActualProperty" type = "OpPhysicalAssetActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetActualChild"   	type = "OpPhysicalAssetActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpPhysicalAssetActual" minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpPhysicalAssetActualPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetActualPropertyChild"
                                                        type = "OpPhysicalAssetActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetClassPropertyID" 
                                                        type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PhysicalAssetPropertyID"     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpPhysicalAssetActualProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpMaterialActualType">
    <xsd:sequence>
      <xsd:element name = "ID" 				                  type="IdentifierType"/>
      <xsd:element name = "MaterialClassID"             type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialDefinitionID"        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialLotID"               type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialSubLotID"            type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialUse"                 type = "MaterialUseType"
	                                                      minOccurs = "0"/>
      <xsd:element name = "SpatialDefinition"     	    type = "SpatialDefinitionType"
                                                        minOccurs = "0" />
      <xsd:element name = "StorageLocation"             type = "ResourceLocationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "AssemblyActual"              type = "OpMaterialActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "AssemblyType"                type = "AssemblyTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "AssemblyRelationship"        type = "AssemblyRelationshipType"
                                                        minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "TestResult"          	      type = "TestResultType"
	                                                      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialActualProperty"      type = "OpMaterialActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpMaterialActual"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OpMaterialActualPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialActualPropertyChild" type = "OpMaterialActualPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialClassPropertyID" 	  type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "MaterialDefinitionPropertyID" 
                                                        type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "MaterialLotPropertyID"     	type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType"
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:OpMaterialActualProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
