Schema/B2MML-CoreComponents.xsd

<?xml version="1.0"?>
<xsd:schema       xmlns:xsd             = "http://www.w3.org/2001/XMLSchema"
                  elementFormDefault    = "qualified"
                  attributeFormDefault  = "unqualified">

<!-- Import the Extension Schema         -->

<xsd:annotation>
   <xsd:documentation>

    Copyright 2020 MESA International, Version 0700
	All Rights Reserved. http://www.mesa.org

    This MESA International work (including specifications, documents,
    software, and related items) referred to as the Business To
    Manufacturing Markup Language (B2MML) is provided by the copyright
    holders under the following license.

    Permission to use, copy, modify, or redistribute this Work and its
    documentation, with or without modification, for any purpose and
    without fee or royalty is hereby granted provided MESA International
    is acknowledged as the originator of this Work using the
    following statement:

    "The Business To Manufacturing Markup Language (B2MML) is used
    courtesy of MESA International."

    In no event shall MESA International, its members, or any
    third party be liable for any costs, expenses, losses, damages or
    injuries incurred by use of the Work or as a result of this
    agreement.

    Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System
    Integration Part 2: Object Model Attributes Standard and the
    ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration
    Part 5: Business to Manufacturing Transactions.
    </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>
</xsd:annotation>


<!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->
<!--  B2MML Core Component Elements - - - - - - - - - - - - - -   -->
<!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   -->

<!--  ****************************************************************   -->
<!--  AmountType used for any element that requires a monetary unit      -->
<!--  ****************************************************************   -->
    <xsd:complexType name="AmountType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currencyID"                type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="currencyCodeListVersionID" type="xsd:normalizedString" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  ********************************************************************************************   -->
<!--  BinaryObjetc Type used for any element that requires a set of finite length sequence of octets -->
<!--  ********************************************************************************************   -->
    <xsd:complexType name="BinaryObjectType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:base64Binary">
                <xsd:attribute name="format"            type="xsd:string"           use="optional" />
                <xsd:attribute name="mimeCode"          type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="encodingCode"      type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="characterSetCode"  type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="uri"               type="xsd:anyURI"           use="optional" />
                <xsd:attribute name="filename"          type="xsd:string"           use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  ****************************************    -->
<!--  CodeType used for any enumerated strings    -->
<!--  ****************************************    -->
    <xsd:complexType name="CodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="listID"            type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="listAgencyID"      type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="listAgencyName"    type="xsd:string"           use="optional" />
                <xsd:attribute name="listName"          type="xsd:string"           use="optional" />
                <xsd:attribute name="listVersionID"     type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="name"              type="xsd:string"           use="optional" />
                <xsd:attribute name="languageID"        type="xsd:language"         use="optional" />
                <xsd:attribute name="listURI"           type="xsd:anyURI"           use="optional" />
                <xsd:attribute name="listSchemeURI"     type="xsd:anyURI"           use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  **********************************************************    -->
<!--  DateTimeType used for any date and/or time representations    -->
<!--  **********************************************************    -->
    <xsd:complexType name = "DateTimeType">
        <xsd:simpleContent>
           <xsd:extension base ="xsd:dateTime">
                <xsd:attribute name="format"  type="xsd:string"           use="optional" />
           </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  **************************************************************    -->
<!--  IdentifierType used for any string used to identify an element    -->
<!--  **************************************************************    -->
    <xsd:complexType name="IdentifierType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="schemeID"          type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="schemeName"        type="xsd:string"           use="optional" />
                <xsd:attribute name="schemeAgencyID"    type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="schemeAgencyName"  type="xsd:string"           use="optional" />
                <xsd:attribute name="schemeVersionID"   type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="schemeDataURI"     type="xsd:anyURI"           use="optional"/>
                <xsd:attribute name="schemeURI"         type="xsd:anyURI"           use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  ******************************************    -->
<!--  IndicatorType used for any boolean element    -->
<!--  ******************************************    -->
    <xsd:simpleType name="IndicatorType">
        <xsd:restriction base="xsd:boolean">
            <xsd:pattern value="false"/>
            <xsd:pattern value="true"/>
        </xsd:restriction>
    </xsd:simpleType>

<!--  ***************************************************************************************   -->
<!--  MeasureType used for any element that requires a numerical value with a unit of measure   -->
<!--  ***************************************************************************************   -->
    <xsd:complexType name="MeasureType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unitCode"              type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="unitCodeListVersionID" type="xsd:normalizedString" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

<!--  *******************************************************    -->
<!--  NameType used for any element that requires common name    -->
<!--  *******************************************************    -->
    <xsd:complexType name="NameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageID"       type="xsd:language"  use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

<!--  ****************************************************************   -->
<!--  NumericType used for any element that requires a numerical value   -->
<!--  ****************************************************************   -->
    <xsd:complexType name="NumericType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="format"                type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  ************************************************************************************   -->
<!--  QuantityType used for any element that requires a counted number of non monetary units -->
<!--  ************************************************************************************   -->
    <xsd:complexType name="QuantityType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unitCode"               type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="unitCodeListID"         type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="unitCodeListAgencyID"   type="xsd:normalizedString" use="optional" />
                <xsd:attribute name="unitCodeListAgencyName" type="xsd:string"           use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!--  **********************************************************    -->
<!--  TextType used for any element that requires a string value    -->
<!--  **********************************************************    -->
    <xsd:complexType name="TextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageID"       type="xsd:language"  use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>
