Schema/B2MML-Personnel.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions"
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">

<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions"
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the OperationsTest Schema         -->

<xsd:include schemaLocation="B2MML-OperationsTest.xsd"/>

<!-- Include the Common schema   -->

<xsd:include schemaLocation = "B2MML-Common.xsd"/>

<xsd:annotation>
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents,
        software, and related items) referred to as the Business To
        Manufacturing Markup Language (B2MML) is provided by the copyright
        holders under the following license.

        Permission to use, copy, modify, or redistribute this Work and its
        documentation, with or without modification, for any purpose and
        without fee or royalty is hereby granted provided MESA International
        is acknowledged as the originator of this Work using the
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used
        courtesy of MESA International."

        In no event shall MESA International, its members, or any
        third party be liable for any costs, expenses, losses, damages or
        injuries incurred by use of the Work or as a result of this
        agreement.

        Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration
        Part 5: Business to Manufacturing Transactions.
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- Global Elements -->

  <xsd:element name = "PersonnelInformation"                    type ="PersonnelInformationType" />
  <xsd:element name = "PersonnelClass"                          type ="PersonnelClassType" >
		<xsd:annotation>
			<xsd:documentation>
A representation of a grouping of persons with similar characteristics for a definite purpose such as
manufacturing operations definition, scheduling, capability and performance is a personnel class.
Any person may be a member of zero or more personnel classes. A personnel class may be defined as
a specialization of zero or more personnel class. A personnel class may be made up of zero or more personnel class(s).
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

  <xsd:element name = "Person"                                  type ="PersonType" >
		<xsd:annotation>
			<xsd:documentation>
A representation of a specifically identified individual is a person.
A person may be a member of zero or more personnel classes.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>


<!-- Transaction Elements -->
  <xsd:element name = "GetPersonnelInformation"                 type = "GetPersonnelInformationType"/>
  <xsd:element name = "ShowPersonnelInformation"                type = "ShowPersonnelInformationType"/>
  <xsd:element name = "ProcessPersonnelInformation"             type = "ProcessPersonnelInformationType"/>
  <xsd:element name = "AcknowledgePersonnelInformation"         type = "AcknowledgePersonnelInformationType"/>
  <xsd:element name = "ChangePersonnelInformation"              type = "ChangePersonnelInformationType"/>
  <xsd:element name = "RespondPersonnelInformation"             type = "RespondPersonnelInformationType"/>
  <xsd:element name = "CancelPersonnelInformation"              type = "CancelPersonnelInformationType"/>
  <xsd:element name = "SyncPersonnelInformation"                type = "SyncPersonnelInformationType"/>


  <xsd:element name = "GetPersonnelClass"                       type = "GetPersonnelClassType"/>
  <xsd:element name = "ShowPersonnelClass"                      type = "ShowPersonnelClassType"/>
  <xsd:element name = "ProcessPersonnelClass"                   type = "ProcessPersonnelClassType"/>
  <xsd:element name = "AcknowledgePersonnelClass"               type = "AcknowledgePersonnelClassType"/>
  <xsd:element name = "ChangePersonnelClass"                    type = "ChangePersonnelClassType"/>
  <xsd:element name = "RespondPersonnelClass"                   type = "RespondPersonnelClassType"/>
  <xsd:element name = "CancelPersonnelClass"                    type = "CancelPersonnelClassType"/>
  <xsd:element name = "SyncPersonnelClass"                      type = "SyncPersonnelClassType"/>


  <xsd:element name = "GetPerson"                               type = "GetPersonType"/>
  <xsd:element name = "ShowPerson"                              type = "ShowPersonType"/>
  <xsd:element name = "ProcessPerson"                           type = "ProcessPersonType"/>
  <xsd:element name = "AcknowledgePerson"                       type = "AcknowledgePersonType"/>
  <xsd:element name = "ChangePerson"                            type = "ChangePersonType"/>
  <xsd:element name = "RespondPerson"                           type = "RespondPersonType"/>
  <xsd:element name = "CancelPerson"                            type = "CancelPersonType"/>
  <xsd:element name = "SyncPerson"                              type = "SyncPersonType"/>

  
<!-- Simple & Complex Types  -->

  <xsd:complexType name = "PersonnelInformationType">
	  <xsd:sequence>
	    <xsd:element name = "ID"                    	    type = "IdentifierType"/>
	    <xsd:element name = "Description"           	    type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
	    <xsd:element name = "HierarchyScope"        	    type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
	    <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Person"                	    type = "PersonType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelClass"        	    type = "PersonnelClassType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "TestSpecification"
                                                        type = "TestSpecificationType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:PersonnelInformation"
                                                        minOccurs = "0" maxOccurs = "1"/>
	</xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PersonType">
    <xsd:sequence>
      <xsd:element name = "ID"                    	    type = "IdentifierType"/>
     	<xsd:element name = "Version"             	      type = "IdentifierType"
                                                	      minOccurs = "0" />
      <xsd:element name = "Description"         	      type = "DescriptionType"
                                                	      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"          type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"     	      type = "DateTimeType"
                                                	      minOccurs = "0"/>
	    <xsd:element name = "HierarchyScope"        	    type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PersonName"            	    type = "PersonNameType"
                                                        minOccurs = "0"/>
      <xsd:element name = "SpatialDefinition"     	    type = "SpatialDefinitionType"
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationalLocation"  	      type = "ResourceLocationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PersonProperty"        	    type = "PersonPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelClassID"      	    type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "TestSpecificationID"
                                                        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:Person"             minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PersonPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"         	      type = "DescriptionType"
                                                	      minOccurs = "0" maxOccurs = "unbounded"/>
	    <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonPropertyChild"         type = "PersonPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
     	<xsd:element name = "PersonnelClassPropertyID"		type = "IdentifierType"
                                                	      minOccurs = "0"/>
      <xsd:group   ref  = "Extended:PersonProperty"     minOccurs = "0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
     	<xsd:element name = "Version"             	      type = "IdentifierType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "Description"         	      type = "DescriptionType"
                                                	      minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"       	  type = "DateTimeType"
                                                	      minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"         	  type = "DateTimeType"
                                                	      minOccurs = "0"/>
	    <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PersonnelClassBaseID"
                                                        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelClassProperty"
                                                        type = "PersonnelClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonSourceID"              type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "TestSpecificationID"
                                                        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:PersonnelClass"
                                                        minOccurs = "0"/>
    </xsd:sequence>
  </xsd:complexType>

<xsd:complexType name = "PersonnelClassPropertyType">
  <xsd:sequence>
    <xsd:element name = "ID"                            type = "IdentifierType"/>
    <xsd:element name = "Description"                   type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
    <xsd:element name = "PropertyType" 		              type="ClassPropertyTypeType"
							                                          minOccurs="0"/>
    <xsd:element name = "Value"                         type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
    <xsd:element name = "PersonnelClassPropertyChild"
                                                        type = "PersonnelClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
    <xsd:group   ref  = "Extended:PersonnelClassProperty"
                                                        minOccurs = "0"/>
  </xsd:sequence>
</xsd:complexType>

<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- PersonnelInformation Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetPersonnelInformationType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowPersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element      name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessPersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgePersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangePersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondPersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelPersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "SyncPersonnelInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "PersonnelInformation"
                                                type = "PersonnelInformationType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- PersonnelClass Transaction Types        -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetPersonnelClassType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowPersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"      type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessPersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgePersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangePersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondPersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelPersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncPersonnelClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "PersonnelClass"
                                                type = "PersonnelClassType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - -  -->
<!-- Person Transaction Types      -->
<!-- - - - - - - - - - - - - - - - -  -->

  <xsd:complexType name = "GetPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgePersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangePersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncPersonType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "Person"      type = "PersonType"
                                                minOccurs = "1" maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



</xsd:schema>
