Schema/B2MML-TransactionProfile.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions" 
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">
  
<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions" 
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

<xsd:include schemaLocation = "B2MML-Common.xsd"/>

<xsd:annotation> 
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided MESA International 
        is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
          
        Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions. 
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- Global Elements -->
  
  <xsd:element name = "TransactionProfile"              type = "TransactionProfileType" />

<!-- Transaction Elements -->
  <xsd:element name = "GetTransactionProfile"           type = "GetTransactionProfileType"/>
  <xsd:element name = "ShowTransactionProfile"          type = "ShowTransactionProfileType"/>


<!-- Simple & Complex Types  -->

  <xsd:complexType name = "TransactionProfileType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "SupportedAction"             type = "SupportedActionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:TransactionProfile" minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"                   type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"                   type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

  <xsd:complexType name = "SupportedActionType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "TransactionVerb"             type = "TransactionVerbType"/>
      <xsd:element name = "TransactionNoun"             type = "TransactionNounType"/>
      <xsd:element name = "InformationUser"             type = "IndicatorType" minOccurs = "0"/>
      <xsd:element name = "InformationProvider"         type = "IndicatorType" minOccurs = "0"/>
      <xsd:element name = "InformationSender"           type = "IndicatorType" minOccurs = "0"/>
      <xsd:element name = "InformationReceiver"         type = "IndicatorType" minOccurs = "0"/>
      <xsd:element name = "ObjectWildcardSupported"     type = "IndicatorType" minOccurs = "0"/>
      <xsd:element name = "PropertyWildcardSupported"   type = "IndicatorType" minOccurs = "0"/>
      <xsd:group   ref  = "Extended:SupportedAction"    minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"                   type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"                   type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

        <xsd:complexType name = "TransactionNoun1Type">
          <xsd:simpleContent>
                <xsd:restriction base="CodeType">
          <!-- Personnel Model -->
                        <xsd:enumeration value="PERSON"/>
                        <xsd:enumeration value="PERSONNEL CLASS"/>
                        <xsd:enumeration value="PERSONNEL INFORMATION"/>
          <!-- Equipment Model -->
                        <xsd:enumeration value="EQUIPMENT"/>
                        <xsd:enumeration value="EQUIPMENT CAPABILITY TEST"/>
                        <xsd:enumeration value="EQUIPMENT CLASS"/>
                        <xsd:enumeration value="EQUIPMENT INFORMATION"/>
          <!-- Physical Asset Model -->
                        <xsd:enumeration value="PHYSICAL ASSET"/>
                        <xsd:enumeration value="PHYSICAL ASSET CLASS"/>
                        <xsd:enumeration value="PHYSICAL ASSET INFORMATION"/>
          <!-- Master Data Profile Model -->
                        <xsd:enumeration value="MASTER DATA PROFILE"/>
          <!-- Material Model -->
                        <xsd:enumeration value="MATERIAL CLASS"/>
                        <xsd:enumeration value="MATERIAL DEFINITION"/>
                        <xsd:enumeration value="MATERIAL LOT"/>
                        <xsd:enumeration value="MATERIAL INFORMATION"/>
                        <xsd:enumeration value="MATERIAL SUBLOT"/>
          <!-- Process Segment Model -->
                        <xsd:enumeration value="PROCESS SEGMENT"/>
                        <xsd:enumeration value="PROCESS INFORMATION"/>
          <!-- Opertional Location Model -->
                        <xsd:enumeration value="OPERATIONAL LOCATION"/>
                        <xsd:enumeration value="OPERATIONAL LOCATION CLASS"/>
                        <xsd:enumeration value="OPERATIONAL LOCATION INFORMATION"/>
          <!-- Operations Definition Model -->
                        <xsd:enumeration value="OPERATIONS DEFINITION"/>
                        <xsd:enumeration value="OPERATIONS SEGMENT"/>
                        <xsd:enumeration value="OPERATIONS DEFINITION INFORMATION"/>
          <!-- Operations Event Model -->
                        <xsd:enumeration value="OPERATIONS EVENT"/>
                        <xsd:enumeration value="OPERATIONS EVENT CLASS"/>
                        <xsd:enumeration value="OPERATIONS EVENT DEFINITION"/>
                        <xsd:enumeration value="OPERATIONS EVENT INFORMATION"/>
          <!-- Operations Schedule Model -->
                        <xsd:enumeration value="OPERATIONS SCHEDULE"/>
                        <xsd:enumeration value="OPERATIONS REQUEST"/>
                        <xsd:enumeration value="SEGMENT REQUIREMENT"/>
          <!-- Operations Performance Model -->
                        <xsd:enumeration value="OPERATIONS PERFORMANCE"/>
                        <xsd:enumeration value="OPERATIONS RESPONSE"/>
          <!-- Operations Capability Model -->
                        <xsd:enumeration value="OPERATIONS CAPABILITY"/>
                        <xsd:enumeration value="OPERATIONS CAPABILITY INFORMATION"/>
          <!-- Resource Relationship Network Model -->
                        <xsd:enumeration value="RESOURCE RELATIONSHIP NETWORK"/>
                        <xsd:enumeration value="RESOURCE NETWORK CONNECTION TYPE"/>
                        <xsd:enumeration value="RESOURCE NETWORK CONNECTION INFORMATION"/>
          <!-- Test Specification Model -->
                        <xsd:enumeration value="TEST SPECIFICATION"/>
                        <xsd:enumeration value="TEST SPECIFICATION INFORMATION"/>
          <!-- Transaction Profile Model -->
                        <xsd:enumeration value="TRANSACTION PROFILE"/>
          <!-- Work Alert Model -->
                        <xsd:enumeration value="WORK ALERT"/>
                        <xsd:enumeration value="WORK ALERT DEFINITION"/>
                        <xsd:enumeration value="WORK ALERT INFORMATION"/>
          <!-- Work Calendar Model -->
                        <xsd:enumeration value="WORK CALENDAR"/>
                        <xsd:enumeration value="WORK CALENDAR DEFINITION"/>
                        <xsd:enumeration value="WORK CALENDAR INFORMATION"/>
          <!-- Work Capability Model -->
                        <xsd:enumeration value="WORK CAPABILITY"/>
                        <xsd:enumeration value="WORK MASTER CAPABILITY"/>
                        <xsd:enumeration value="WORK CAPABILITY INFORMATION"/>
          <!-- Work Definition Model -->
                        <xsd:enumeration value="WORK DEFINITION INFORMATION"/>
                        <xsd:enumeration value="WORK DIRECTIVE"/>
                        <xsd:enumeration value="WORK MASTER"/>
          <!-- Work Performance Model -->
                        <xsd:enumeration value="WORK PERFORMANCE"/>
                        <xsd:enumeration value="WORK RESPONSE"/>
                        <xsd:enumeration value="JOB RESPONSE"/>
                        <xsd:enumeration value="JOB RESPONSE LIST"/>
          <!-- Work Record Model -->
                        <xsd:enumeration value="WORK RECORD"/>
                        <xsd:enumeration value="WORK RECORD SPECIFICATION"/>
          <!-- Work Schedule Model -->
                        <xsd:enumeration value="WORK SCHEDULE"/>
                        <xsd:enumeration value="WORK REQUEST"/>
                        <xsd:enumeration value="JOB LIST"/>
                        <xsd:enumeration value="JOB ORDER"/>
          <!-- Workflow Model -->
                        <xsd:enumeration value="WORKFLOW INFORMATION"/>
                        <xsd:enumeration value="WORKFLOW SPECIFICATION"/>
                        <xsd:enumeration value="WORKFLOW SPECIFICATION NODE"/>
                        <xsd:enumeration value="WORKFLOW SPECIFICATION CONNECTION TYPE"/>
          <!-- BatchInformation -->
                        <xsd:enumeration value="BATCH INFORMATION"/>
                        <xsd:enumeration value="MASTER RECIPE"/>
                        <xsd:enumeration value="CONTROL RECIPE"/>
                        <xsd:enumeration value="RECIPE BUILDING BLOCK"/>
                        <xsd:enumeration value="BATCH LIST"/>
          <!-- BatchInformation -->
                        <xsd:enumeration value="BATCH PRODUCTION RECORD"/> 
          <!-- GeneralRecipe -->                       
                        <xsd:enumeration value="GRECIPE INFORMATION"/>
                        <xsd:enumeration value="RESOURCE CONSTAINT LIBRARY"/>
                        <xsd:enumeration value="PROCESS ELEMENT LIBRARY"/>
                        <xsd:enumeration value="GRECIPE"/>
                        <xsd:enumeration value="RESOURCE CONSTRAINT"/>
                        <xsd:enumeration value="PROCESS ELEMENT"/> 
          <!-- Confirm BOD -->
                        <xsd:enumeration value="CONFIRM BOD"/>
          <!-- Error Message -->
                        <xsd:enumeration value="ERROR MESSAGE"/>
          <!-- User Extension -->
                        <xsd:enumeration value="Other"/>
                </xsd:restriction>
          </xsd:simpleContent>
        </xsd:complexType>

        <xsd:complexType name = "TransactionNounType">
                <xsd:simpleContent>
                        <xsd:extension base="TransactionNoun1Type">
                                <xsd:attribute name = "OtherValue" type="xsd:string"/>
                        </xsd:extension>
                </xsd:simpleContent>
        </xsd:complexType>
                  
        <xsd:complexType name = "TransactionVerb1Type">
          <xsd:simpleContent>
                <xsd:restriction base="CodeType">
                        <xsd:enumeration value="NOTIFY"/>
                        <xsd:enumeration value="GET"/>
                        <xsd:enumeration value="PROCESS"/>
                        <xsd:enumeration value="CHANGE"/>
                        <xsd:enumeration value="CANCEL"/>
                        <xsd:enumeration value="CONFIRM"/>
                        <xsd:enumeration value="SYNC ADD"/>
                        <xsd:enumeration value="SYNC CHANGE"/>
                        <xsd:enumeration value="SYNC DELETE"/>
                        <xsd:enumeration value="Other"/>
                </xsd:restriction>
          </xsd:simpleContent>
        </xsd:complexType>

        <xsd:complexType name = "TransactionVerbType">
                <xsd:simpleContent>
                        <xsd:extension base="TransactionVerb1Type">
                                <xsd:attribute name = "OtherValue" type="xsd:string"/>
                        </xsd:extension>
                </xsd:simpleContent>
        </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- TransactionProfile Transaction Types    -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetTransactionProfileType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name =  "TransactionProfile"
                                                type = "TransactionProfileType"
                                                minOccurs = "0" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

  <xsd:complexType name = "ShowTransactionProfileType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "TransactionProfile"
                                                type = "TransactionProfileType"
                                                minOccurs = "0" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

</xsd:schema>
