Schema/B2MML-Extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema 
            xmlns:xsd              = "http://www.w3.org/2001/XMLSchema" 
            xmlns                  = "http://www.mesa.org/xml/B2MML-AllExtensions" 
            xmlns:b2mml            = "http://www.mesa.org/xml/B2MML"
            targetNamespace        = "http://www.mesa.org/xml/B2MML-AllExtensions" 
            elementFormDefault     = "qualified" 
            attributeFormDefault   = "unqualified">

<!-- Import the Common schema in the 'b2mml' name space --> 
<!-- This also brings in the Core Components under the 'b2mml' name space  -->
     <xsd:import namespace         = "http://www.mesa.org/xml/B2MML"
                 schemaLocation    = "B2MML-Common.xsd"/> 

<xsd:include schemaLocation="B2MML-AllExtensions.xsd"/>
<xsd:annotation> 
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
    All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided MESA International 
        is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
      
        Based upon the ANSI/ISA-95.00.02-2010 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>
</xsd:annotation>

<!-- 
                        Purpose of Extensions Schema

This Extensions schema is intended to be edited by users as required to extend B2MML 
to meet project and product requirements. 

A place holder has been added in the core schemas.  The place holder 
is a substitution group that points to a group in this schema.  Any elements placed in a group
in this schema can be used in B2MML XML documents using "Extended" as the namespace prefix.  

The elements added to the groups may reference types defined earlier in this schema or in
other schemas.  Additional schemas may be used to permit element definitions from different 
vendors to be used on one project with minimal changes to the B2MML extensions schema,  
and increasing clarity by assigning a vendor specific namespace prefix to each group 
of elements when used in an XML document.

-->


<!-- Define complexTypes and simpleTypes for use in extensions-->


<!-- B2MML extension groups for Equipment schema-->

        <xsd:group name = "EquipmentInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Equipment">
                <xsd:sequence>
                         <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for PhysicalAsset schema-->

        <xsd:group name = "PhysicalAssetInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAsset">
                <xsd:sequence>
                         <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for Material schema-->

        <xsd:group name = "MaterialInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialDefinitionProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialLot">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialLotProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSubLot">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for Personnel schema-->

        <xsd:group name = "PersonnelInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "Person">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelClass">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelClassProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for ProcessSegment schema-->

        <xsd:group name = "ProcessSegmentInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProcessSegment">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSegmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSegmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


<!-- B2MML extension groups for OperationsTest schema  -->

        <xsd:group name = "OperationsTestInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestSpecificationInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestSpecificationCriteria">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EvaluatedProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "TestResult">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PropertyMeasurement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


<!-- B2MML extension groups for OperationsDefinition and ProductInformation schema-->

        <xsd:group name = "OperationsDefinitionInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProductInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsMaterialBill">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsMaterialBillItem">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsSegment">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for OperationsCapability schema-->

        <xsd:group name = "OperationsCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsCapabilityInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialCapabilityProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ProcessSegmentCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for OperationsPerformance schema  -->

        <xsd:group name = "OperationsPerformance">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentData">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentData">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPersonnelActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpEquipmentActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpPhysicalAssetActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpMaterialActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
 
        <xsd:group name = "PersonnelActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialActual">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialActualProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



<!-- B2MML extension groups for OperationsSchedule schema-->

        <xsd:group name = "OperationsSchedule">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OperationsRequest">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "OpSegmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SegmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PersonnelRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "EquipmentRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "PhysicalAssetRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialRequirement">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "MaterialRequirementProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

 

<!-- B2MML extension groups for ResourceRelationshipNetwork schema-->

         <xsd:group name = "ResourceRelationshipNetworkInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceNetworkConnectionType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceRelationshipNetwork">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceNetworkConnection">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceReference">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "ResourceReferenceProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "RNCTypeProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "RRNProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "RNCProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


        
<!-- B2MML extension groups for TransactionProfile schema  -->

        <xsd:group name = "TransactionProfile">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "SupportedAction">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkAlert schemas  -->

        <xsd:group name = "WorkAlertInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlertDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlert">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlertDefinitionProperty">
                <xsd:sequence>
                        <!-- add extended elements here  -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkAlertProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>


 <!-- B2MML extension groups for WorkCalendar schemas  -->

        <xsd:group name = "WorkCalendarInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarDefinition">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarDefinitionEntry">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarDefinitionEntryProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarDefinitionProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendar">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarEntry">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarEntryProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCalendarProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        
        
 <!-- B2MML extension groups for WorkCapability schemas  -->

        <xsd:group name = "WorkCapabilityInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkMasterCapability">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkDefinition schema  -->

        <xsd:group name = "WorkDefinitionInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkMaster">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkDirective">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkflowSpecification schema  -->

        <xsd:group name = "WorkflowSpecificationInformation">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationNode">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationConnection">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationNodeType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
        
        <xsd:group name = "WorkflowSpecificationConnectionType">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
        
        <xsd:group name = "WorkflowSpecificationProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
         
        <xsd:group name = "WorkflowSpecificationNodeProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationNodeTypeProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>       
        
        <xsd:group name = "WorkflowSpecificationConnectionProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkflowSpecificationConnectionTypeProperty">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

<!-- B2MML extension groups for WorkPerformance schemas  -->

        <xsd:group name = "WorkPerformance">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobResponse">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobResponseList">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

 <!-- B2MML extension groups for WorkRecord schemas  -->

        <xsd:group name = "WorkRecord">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkRecordEntry">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>
 
        <xsd:group name = "WorkRecordSpecification">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>        

<!-- B2MML extension groups for WorkSchedule and JobList schemas  -->

        <xsd:group name = "WorkSchedule">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "WorkRequest">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobList">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>

        <xsd:group name = "JobOrder">
                <xsd:sequence>
                        <!-- add extended elements here -->
                </xsd:sequence>
        </xsd:group>



 
</xsd:schema>
