Schema/B2MML-WorkPerformance.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions"
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">

<!-- Import the Extension Schema into the 'Extended' namespace    -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions"
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the Common schema, WorkDefinition schema, and OperationsPerformanceTypes schema-->

<xsd:include  schemaLocation = "B2MML-Common.xsd"/>
<xsd:include  schemaLocation = "B2MML-WorkDefinition.xsd"/>
<xsd:include  schemaLocation = "B2MML-OperationsPerformanceTypes.xsd"/>

<xsd:annotation>
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents,
        software, and related items) referred to as the Business To
        Manufacturing Markup Language (B2MML) is provided by the copyright
        holders under the following license.

        Permission to use, copy, modify, or redistribute this Work and its
        documentation, with or without modification, for any purpose and
        without fee or royalty is hereby granted provided MESA International
        is acknowledged as the originator of this Work using the
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used
        courtesy of MESA International."

        In no event shall MESA International, its members, or any
        third party be liable for any costs, expenses, losses, damages or
        injuries incurred by use of the Work or as a result of this
        agreement.

		Based upon the ANSI/ISA-95.00.04-2018 Enterprise-Control System
        Integration Part 4: Objects and Attributes for Manufacturing
		Operations Management Integration and the ANSI/ISA-95.00.05-2018
		Enterprise-Control System Integration Part 5: Business to
		Manufacturing Transactions.
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- Global Elements -->

  <xsd:element name = "WorkPerformance"         type ="WorkPerformanceType" />
  <xsd:element name = "WorkResponse"            type ="WorkResponseType" />
  <xsd:element name = "JobResponse"             type ="JobResponseType" />
  <xsd:element name = "JobResponseList"         type ="JobResponseListType" />

<!-- Transaction Elements -->

  <xsd:element name = "GetWorkPerformance"      type = "GetWorkPerformanceType"/>
  <xsd:element name = "ShowWorkPerformance"     type = "ShowWorkPerformanceType"/>
  <xsd:element name = "ProcessWorkPerformance"  type = "ProcessWorkPerformanceType"/>
  <xsd:element name = "AcknowledgeWorkPerformance" type = "AcknowledgeWorkPerformanceType"/>
  <xsd:element name = "ChangeWorkPerformance"   type = "ChangeWorkPerformanceType"/>
  <xsd:element name = "RespondWorkPerformance"  type = "RespondWorkPerformanceType"/>
  <xsd:element name = "CancelWorkPerformance"   type = "CancelWorkPerformanceType"/>
  <xsd:element name = "SyncWorkPerformance"     type = "SyncWorkPerformanceType"/>

  <xsd:element name = "GetWorkResponse"          type = "GetWorkResponseType"/>
  <xsd:element name = "ShowWorkResponse"         type = "ShowWorkResponseType"/>
  <xsd:element name = "ProcessWorkResponse"      type = "ProcessWorkResponseType"/>
  <xsd:element name = "AcknowledgeWorkResponse"  type = "AcknowledgeWorkResponseType"/>
  <xsd:element name = "ChangeWorkResponse"       type = "ChangeWorkResponseType"/>
  <xsd:element name = "RespondWorkResponse"      type = "RespondWorkResponseType"/>
  <xsd:element name = "CancelWorkResponse"       type = "CancelWorkResponseType"/>
  <xsd:element name = "SyncWorkResponse"         type = "SyncWorkResponseType"/>

  <xsd:element name = "GetJobResponse"          type = "GetJobResponseType"/>
  <xsd:element name = "ShowJobResponse"         type = "ShowJobResponseType"/>
  <xsd:element name = "ProcessJobResponse"      type = "ProcessJobResponseType"/>
  <xsd:element name = "AcknowledgeJobResponse"  type = "AcknowledgeJobResponseType"/>
  <xsd:element name = "ChangeJobResponse"       type = "ChangeJobResponseType"/>
  <xsd:element name = "RespondJobResponse"      type = "RespondJobResponseType"/>
  <xsd:element name = "CancelJobResponse"       type = "CancelJobResponseType"/>
  <xsd:element name = "SyncJobResponse"         type = "SyncJobResponseType"/>

  <xsd:element name = "GetJobResponseList"      type = "GetJobResponseListType"/>
  <xsd:element name = "ShowJobResponseList"     type = "ShowJobResponseListType"/>
  <xsd:element name = "ProcessJobResponseList"  type = "ProcessJobResponseListType"/>
  <xsd:element name = "AcknowledgeJobResponseList"   type = "AcknowledgeJobResponseListType"/>
  <xsd:element name = "ChangeJobResponseList"   type = "ChangeJobResponseListType"/>
  <xsd:element name = "RespondJobResponseList"  type = "RespondJobResponseListType"/>
  <xsd:element name = "CancelJobResponseList"   type = "CancelJobResponseListType"/>
  <xsd:element name = "SyncJobResponseList"     type = "SyncJobResponseListType"/>

  <!-- Simple & Complex Types  -->

  <xsd:complexType name = "WorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/> 
      <xsd:element name = "StartTime"                   type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EndTime"                     type = "DateTimeType"
                                                        minOccurs = "0"/>                                                                                                          
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkType"                    type = "OperationsTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkScheduleID"              type = "IdentifierType"/>
      <xsd:element name = "WorkState"                   type = "ResponseStateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkResponse"                type = "WorkResponseType"
                                                        minOccurs = "1" maxOccurs = "unbounded"/>
      <xsd:element name = "WorkPerformanceChild"        type = "WorkPerformanceType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:WorkPerformance"    minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "WorkResponseType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>  
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/> 
      <xsd:element name = "StartTime"                   type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EndTime"                     type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkType"                    type = "OperationsTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkRequestID"               type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "ResponseState"               type = "ResponseStateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkResponseChild"           type = "WorkResponseType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "JobResponse"                 type = "JobResponseType"
                                                        minOccurs = "1" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"
                                                        type = "RequiredByRequestedSegmentResponseType" 
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:WorkResponse"       minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "JobResponseType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>  
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "StartTime"                   type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EndTime"                     type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkType"                    type = "OperationsTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "JobOrderID"                  type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkDirective"               type = "WorkDirectiveType" 
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkDirectiveVersion"        type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkMasterID"                type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkMasterVersion"           type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkflowSpecificationID"     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkflowSpecificationNodeID" type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "JobState"                    type = "ResponseStateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "JobResponseData"             type = "OpSegmentDataType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelActual"             type = "OpPersonnelActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentActual"             type = "OpEquipmentActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetActual"         type = "OpPhysicalAssetActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialActual"              type = "OpMaterialActualType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "RequiredByRequestedSegmentResponse"  
                                                        type = "RequiredByRequestedSegmentResponseType" 
                                                        minOccurs = "0"/>
      <xsd:group   ref  = "Extended:JobResponse"        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name = "JobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "StartTime"                   type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EndTime"                     type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "WorkType"                    type = "OperationsTypeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "JobState"                    type = "ResponseStateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "JobResponse"                 type = "JobResponseType"
                                                        minOccurs = "1" maxOccurs = "unbounded"/>
      <xsd:group ref = "Extended:JobResponseList"       minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkPerformance Transaction Types -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkPerformanceType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkPerformanceType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "WorkPerformance"
                                                type = "WorkPerformanceType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- WorkResponse Transaction Types           -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

<xsd:complexType name = "GetWorkResponseType">
  <xsd:sequence>
       <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Get"         type = "TransGetType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "ShowWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Show"        type = "TransShowType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "ProcessWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Process"     type = "TransProcessType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "AcknowledgeWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "ChangeWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Change"      type = "TransChangeType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "RespondWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Respond"     type = "TransRespondType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "CancelWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Cancel"      type = "TransCancelType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<xsd:complexType name = "SyncWorkResponseType">
  <xsd:sequence>
    <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
    <xsd:element name = "DataArea">
       <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Sync"        type = "TransSyncType"/>
            <xsd:element name = "WorkResponse"
                                              type = "WorkResponseType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>

  </xsd:sequence>
  <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
  <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
</xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- JobResponse Transaction Types           -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetJobResponseType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncJobResponseType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "JobResponse"
                                                type = "JobResponseType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



<!-- - - - - - - - - - - - - - - - - - - - - - - -->
<!-- JobResponseList Transaction Types           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetJobResponseListType">
    <xsd:sequence>
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncJobResponseListType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "JobResponseList"
                                                type = "JobResponseListType"
                                                minOccurs = "1"
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


</xsd:schema>
