Schema/B2MML-OperationsEvent.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML"
                xmlns                   = "http://www.mesa.org/xml/B2MML"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-AllExtensions" 
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">

<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-AllExtensions" 
                schemaLocation="B2MML-AllExtensions.xsd"/>

<!-- Include the OperationsTest Schema         -->

<xsd:include schemaLocation="B2MML-OperationsTest.xsd"/>

<!-- Include the Common schema   -->

<xsd:include schemaLocation = "B2MML-Common.xsd"/>


<xsd:annotation> 
   <xsd:documentation>

        Copyright 2020 MESA International, Version 0700
		All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided MESA International 
        is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
          
        Based upon the ANSI/ISA-95.00.02-2018 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2018 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions. 
   </xsd:documentation>

   <xsd:documentation>
      Revision history maintained in GitHub
   </xsd:documentation>

</xsd:annotation>

<!-- Global Elements -->
  
  <xsd:element name = "OperationsEventInformation"                     type ="OperationsEventInformationType" >
		<xsd:annotation> 
			<xsd:documentation>
The operations event model represents a generic representation of event notifications using 
the operations event object and the constructs required to define, group and structure the 
operations event occurrences. 
			</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
 
  <xsd:element name = "OperationsEventClass"                           type ="OperationsEventClassType" >
		<xsd:annotation> 
			<xsd:documentation>
An operations event class is a representation of groupings of operations event definitions. 
			</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
 
  <xsd:element name = "OperationsEventDefinition"                      type ="OperationsEventDefinitionType" >
		<xsd:annotation> 
			<xsd:documentation>
Definition and structure of operations event occurrences shall be shown as an operations 
event definition. 
The operations event definition of an operations event is identified by the definition 
ID attribute in the operations event occurrence. 
Those constructing or interpreting an operations event obtain and validate the structure
and definition from the operations event definition. 
			</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
 
  <xsd:element name = "OperationsEvent"                               type ="OperationsEventType" >
		<xsd:annotation> 
			<xsd:documentation>
Large numbers of real-world events occur in any given manufacturing system. Only some 
real-world events are associated with manufacturing operations management activities 
and functions. The subset of those real-world events that require notification of 
process context specific information exchanges of this standard shall be defined as 
operations events. Operations events may be generated by any Level 4 or Level 3 
function or activity. 
			</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
 

<!-- Transaction Elements -->
  <xsd:element name = "GetOperationsEventInformation"                  type = "GetOperationsEventInformationType"/>
  <xsd:element name = "ShowOperationsEventInformation"                 type = "ShowOperationsEventInformationType"/>
  <xsd:element name = "ProcessOperationsEventInformation"              type = "ProcessOperationsEventInformationType"/>
  <xsd:element name = "AcknowledgeOperationsEventInformation"          type = "AcknowledgeOperationsEventInformationType"/>
  <xsd:element name = "ChangeOperationsEventInformation"               type = "ChangeOperationsEventInformationType"/>
  <xsd:element name = "RespondOperationsEventInformation"              type = "RespondOperationsEventInformationType"/>
  <xsd:element name = "CancelOperationsEventInformation"               type = "CancelOperationsEventInformationType"/>
  <xsd:element name = "SyncOperationsEventInformation"                 type = "SyncOperationsEventInformationType"/>
  <xsd:element name = "NotifyOperationsEventInformation"               type = "NotifyOperationsEventInformationType"/>


  <xsd:element name = "GetOperationsEventClass"                        type = "GetOperationsEventClassType"/>
  <xsd:element name = "ShowOperationsEventClass"                       type = "ShowOperationsEventClassType"/>
  <xsd:element name = "ProcessOperationsEventClass"                    type = "ProcessOperationsEventClassType"/>
  <xsd:element name = "AcknowledgeOperationsEventClass"                type = "AcknowledgeOperationsEventClassType"/>
  <xsd:element name = "ChangeOperationsEventClass"                     type = "ChangeOperationsEventClassType"/>
  <xsd:element name = "RespondOperationsEventClass"                    type = "RespondOperationsEventClassType"/>
  <xsd:element name = "CancelOperationsEventClass"                     type = "CancelOperationsEventClassType"/>
  <xsd:element name = "SyncOperationsEventClass"                       type = "SyncOperationsEventClassType"/>
  <xsd:element name = "NotifyOperationsEventClass"                     type = "NotifyOperationsEventClassType"/>

 
  <xsd:element name = "GetOperationsEventDefinition"                   type = "GetOperationsEventDefinitionType"/>
  <xsd:element name = "ShowOperationsEventDefinition"                  type = "ShowOperationsEventDefinitionType"/>
  <xsd:element name = "ProcessOperationsEventDefinition"               type = "ProcessOperationsEventDefinitionType"/>
  <xsd:element name = "AcknowledgeOperationsEventDefinition"           type = "AcknowledgeOperationsEventDefinitionType"/>
  <xsd:element name = "ChangeOperationsEventDefinition"                type = "ChangeOperationsEventDefinitionType"/>
  <xsd:element name = "RespondOperationsEventDefinition"               type = "RespondOperationsEventDefinitionType"/>
  <xsd:element name = "CancelOperationsEventDefinition"                type = "CancelOperationsEventDefinitionType"/>
  <xsd:element name = "SyncOperationsEventDefinition"                  type = "SyncOperationsEventDefinitionType"/>
  <xsd:element name = "NotifyOperationsEventDefinition"                type = "NotifyOperationsEventDefinitionType"/>
 

  <xsd:element name = "NotifyOperationsEvent"                          type = "NotifyOperationsEventType"/>

 
<!-- Simple & Complex Types  -->

  <xsd:complexType name = "OperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"         
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"    
                                                        minOccurs = "0"  nillable="true"/>
      <xsd:element name = "PublishedDate"               type = "DateTimeType" 
                                                        minOccurs = "0"  nillable="true"/>
      <xsd:element name = "OperationsEventClass"        type = "OperationsEventClassType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:element name = "OperationsEventDefinition"   type = "OperationsEventDefinitionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"  nillable="true"/>
      <xsd:element name = "OperationsEvent"             type = "OperationsEventType"        
                                                        minOccurs = "0" maxOccurs = "unbounded" nillable="true"/>
      <xsd:group   ref  = "Extended:OperationsEventInformation" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>                                                       
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"          type = "DateTimeType"
                                                	    minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"     	    type = "DateTimeType"
                                                	    minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"         	    type = "HierarchyScopeType"   
                                                 	    minOccurs = "0"/>
      <xsd:element name = "Extension"            	    type = "OperationsEventExtensionType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsEventClassChild"   type = "OperationsEventClassType" 
	                                                    minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Is assembled from" relationship -->
      <xsd:element name = "OperationsEventClassBaseID"
                                                        type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Includes properties of" relationship -->
      <xsd:element name = "OperationsEventClassProperty"
		   					                            type = "OperationsEventClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Has properties of" relationship -->
      <xsd:element name = "OperationsEventDefinitionSourceID" 
		   					                            type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- Is parent of relationship to event definitions -->
      <xsd:element name = "OpsEventClassRecordSpecification"
		   					                            type = "OperationsRecordSpecTemplateType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Has record specifications of" relationship --> 
      <xsd:group   ref  = "Extended:OperationsEventClass" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventClassPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PropertyType" 		            type="ClassPropertyTypeType"
							                                          minOccurs="0"/>
      <xsd:element name = "Value"                       type = "ValueType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsEventClassPropertyChild" 
		   					                                        type = "OperationsEventClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>  <!-- "Contains" relationship -->
      <xsd:group   ref  = "Extended:OperationsEventClassProperty" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"                
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>                                                        
      <xsd:element name = "PublishedDate"         	    type = "DateTimeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveStartDate"          type = "DateTimeType"
                                                	    minOccurs = "0"/>
      <xsd:element name = "EffectiveEndDate"     	    type = "DateTimeType"
                                                	    minOccurs = "0"/>
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "Priority"              	    type = "NumericType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsEventType"         type = "OperationsEventTypeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsEventLevel"        type = "OperationsEventLevelType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsType"        	    type = "OperationsTypeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "MOMFunction"        		    type = "MOMFunctionType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "EnterpriseFunction"  	    type = "EnterpriseFunctionType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "Category"  			        type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Acknowledgement"  		    type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Source"  			        type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsEventDefinitionChild"   
		   					                            type = "OperationsEventDefinitionType" 
	                                                    minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Is assembled from" relationship -->
      <xsd:element name = "OperationsEventDefinitionProperty"
							                            type = "OperationsEventClassPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Has properties of" relationship -->
      <xsd:element name = "OperationsEventClassID"  	type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Is member of relationship" relationship -->
      <xsd:element name = "OpsEventDefinitionRecordSpecification"
		   					                            type = "OperationsRecordSpecTemplateType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Has record specifications of" relationship --> 
      <xsd:group   ref  = "Extended:OperationsEventDefinition" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventDefinitionPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PropertyType" 		        type="ClassPropertyTypeType"
							                            minOccurs="0"/>
      <xsd:element name = "Value"                       type = "ValueType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsEventClassPropertyID"  
		   					                            type = "IdentifierType"  
		   					                            minOccurs = "0"/>  
      <xsd:element name = "OperationsEventDefinitionPropertyChild"
		   					                            type = "OperationsEventDefinitionPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>  <!-- "Contains" relationship -->
      <xsd:group   ref  = "Extended:OperationsEventDefinitionProperty" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Version"                     type = "IdentifierType"
                                                        minOccurs = "0"/>                                                        
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "EffectiveTimeStamp"   	      type = "DateTimeType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "RecordTimeStamp"     	      type = "DateTimeType"     
                                                        minOccurs = "0"/>
      <xsd:element name = "Priority"              	    type = "NumericType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsEventType"         type = "OperationsEventTypeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsEventLevel"        type = "OperationsEventLevelType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "OperationsType"        	    type = "OperationsTypeType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "MOMFunction"        		      type = "MOMFunctionType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "EnterpriseFunction"  	      type = "EnterpriseFunctionType"   
                                                        minOccurs = "0"/>
      <xsd:element name = "Category"  			            type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Acknowledgement"  		        type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Source"  			              type = "IdentifierType"   
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsDefinitionID"   	  type = "IdentifierType" 
	                                                      minOccurs = "0"/> 
      <xsd:element name = "OperationsEventChild"   	    type = "OperationsEventType" 
	                                                      minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Is made up of" relationship -->
      <xsd:element name = "OperationsEventRecord"   	  type = "OperationsRecordTemplateType" 
	                                                      minOccurs = "0" maxOccurs = "unbounded"/> <!-- "Is a collection of" relationship -->
      <xsd:group   ref  = "Extended:OperationsEvent"    minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "OperationsEventPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"/>
      <xsd:element name = "Description"                 type = "DescriptionType"        
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"      
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsEventDefinitionPropertyID" 
		   					                                        type = "IdentifierType"/> 
      <xsd:element name = "OperationsEventPropertyChild"     
		   					                                        type = "OperationsEventPropertyType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:OperationsEventProperty" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationsEventInformation Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationsEventInformationType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationsEventInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationsEventInformationType">
     <xsd:sequence>
     <xsd:element name = "ApplicationArea"      type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "NotifyOperationsEventInformationType">
     <xsd:sequence>
     <xsd:element name = "ApplicationArea"      type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEventInformation"
                                                type = "OperationsEventInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationsEventClass Transaction Types         -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationsEventClassType">
    <xsd:sequence>      
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationsEventClassType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "NotifyOperationsEventClassType">
    <xsd:sequence>
    <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
     <xsd:element name = "DataArea">
        <xsd:complexType>
           <xsd:sequence>
             <xsd:element name = "Sync"         type = "TransSyncType"/>
             <xsd:element name = "OperationsEventClass"
                                                type = "OperationsEventClassType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>

   </xsd:sequence>
   <xsd:attribute name = "releaseID"            type="xsd:normalizedString"     use="required"/>
   <xsd:attribute name = "versionID"            type="xsd:normalizedString"     use="optional"/>
 </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- OperationsEventDefinition Transaction Types    -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetOperationsEventDefinitionType">
    <xsd:sequence>      
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"            type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "NotifyOperationsEventDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEventDefinition"
                                                type = "OperationsEventDefinitionType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>  


<!-- - - - - - - - - - - - - - - - -  -->
<!-- OperationsEvent Transaction Types    -->
<!-- - - - - - - - - - - - - - - - -  -->

  <xsd:complexType name = "NotifyOperationsEventType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "OperationsEvent"
                                                type = "OperationsEventType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


</xsd:schema>
